
.portfolio-page {
  padding-left: 155px;
  padding-right: 50px;
  width: calc(100% - 205px);
  position: initial;
  height: 100%;
  overflow: auto;

  h1.page-title {
      margin-left: 100px;
      margin-top: 100px;
  }

  .images-container {
      // display: flex;
      display: grid;
      // flex-wrap: wrap;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 35px 10px;
      padding-bottom: 100px;
  }

  .image-box {
      position: relative;
      // flex: 1 1 20%;
      height: 400px;
      overflow: hidden;
      border-radius: 10px;
      max-width: calc(90% - 20px);
      background-color: rgba(105, 79, 93, 0.5);



      .portfolio-image {
          position: absolute;
          z-index: 2;
          height: 300px;
          width: 100%;
          object-fit: contain;
      }

      .content {
          position: absolute;
          width: 100%;
          z-index: 3;
          transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0.2) 0,
              rgba(0, 0, 0, 1)
          );
          bottom: -70px;
      }

      .title {
          margin-bottom: 0;
          margin-top: 0;
          margin-left: 5px;
          color: #fff;
          font-size: 24px;
          font-weight: 500;
          line-height: 24px;
          padding-top: 5px;
      }

      .description {
          font-size: 14px;
          margin-bottom: 5px;
          color: #fff;
          font-weight: 700;
          margin-left: 7px;
      }

      .btn {
          margin-top: 30px;
          margin-bottom: 10px;
          margin-left: 5px;
          padding: 0 23px;
          height: 40px;
          line-height: 34px;
          border: 2px solid #BB9F06;
          border-radius: 4px;
          font-size: 14px;
          color: #fff;
          background: transparent;
          text-transform: uppercase;
          font-weight: 700;
          transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          cursor: pointer;
      }

      .btn:hover {
          transform: translateY(-3px);
          background: #BB9F06;
      }

      .github {
          padding: 0px;
          height: 24px;
          line-height: 34px;
          border: 2px solid #BB9F06;
          border-radius: 4px;
          font-size: 10px;
          color: #fff;
          background: transparent;
          text-transform: uppercase;
          font-weight: 700;
          transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          cursor: pointer;
          position: absolute;
          bottom: 9px;
          right: 11px;
      }

      .github:hover {
          transform: translateY(-3px);
          background: #BB9F06;
      }

      &:after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          opacity: 0;
      }

      &:hover:after {
          opacity: 0.85;
      }

      &:hover .content {
          bottom: 0;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.2) 0,
            rgba(0, 0, 0, 1)
        );
      }
  }
}

@media screen and (max-width: 1200px) {
  .container.portfolio-page{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

    .images-container {
      display: grid;
      grid-template-columns: 1fr 1fr
  }

    h1.page-title {
      margin-left: 20px;
      margin-top: 20px;
    }

    p.title{
      font-size: 18px;
    }

    h4.description{
      font-size: 14px;
      font-weight: 400;
    }

    .image-box{
      height: 216px;
      max-width: calc(100% - 10px);

      .portfolio-image{
        height: 95px;
        object-fit: scale-down;
      }
    }
  }


}
