.experience-page {
  left: 242px;
  top: 80px;

  .content-zone{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 32%;

      .Download-Resume{
          padding-bottom: 40px;
      a {
          font-size: 20px;
          text-decoration: none;
          font-weight: bold;
          color: #FDF6E3;
          // color: #C6D3D8;
        }

        button {
          padding: 10px 15px;
          border-radius: 15px;
          background-color: #FDF6E3;
          background-color: #694F5D;
          border: #FDF6E3;
          box-shadow: 1px 3px 11px #847448;
          // position: absolute;
          // left: 30%;
          // top: 149px
        }

        button:hover{
          cursor: pointer;
          transform: translateY(-3px);
        }
      }

      a.Linkedin-bck{
        font-size:40px;
        svg{
          color: #694F5D;
        }
      }

      a.Linkedin-bck:hover {
        transform: translateY(-3px);
        color: #C6D3D8;
      }

  }
}



@media screen and (max-width: 1200px) {

  .experience-page {
    left: 242px;
    top: 80px;

    h1{
      top: 46px;
      left: 53px;
    }

    .content-zone{
      left: 26%;

    .Download-Resume{
      a {
        font-size: 20px;
      }

      button {
      padding: 10px 15px;
      position: relative;
      top: 150px;
      }
    }

    .Linkedin-bck{
    position: relative;
    top: 132px;
    // left: 44%;
    font-size: 50px;
    }
  }
}
}
