.experience-page {
  left: 242px;
  top: 80px;

  .Download-Resume{

   a {
      font-size: 20px;
      text-decoration: none;
      font-weight: bold;
      color: #FDF6E3;
      // color: #C6D3D8;
    }

    button {
      padding: 10px 15px;
      border-radius: 15px;
      // background-color: #FDF6E3;
      background-color: #694F5D;
      border: #FDF6E3;
      box-shadow: 1px 3px 11px #847448;
      position: absolute;
      left: 30%;
      top: 149px
    }

    button:hover{
      cursor: pointer;
      transform: translateY(-3px);
    }
  }

  .Linkedin-bck{
    position: absolute;
    top: 40%;
    left: 37%;
    font-size:50px;
      svg{
        color: #694F5D;
      }
    }

  .Linkedin-bck:hover{
    transform: translateY(-3px);
    color: #C6D3D8;

  }

  // color: #694F5D;
  // color: #BB9F06;
  // color: #C6D3D8;
  // color: #FDF6E3;
}
@media screen and (max-width: 1200px) {

  .experience-page {
    left: 242px;
    top: 80px;

    h1{
      top: 46px;
      left: 53px;
    }

    .Download-Resume{
      a {
        font-size: 20px;
      }

      button {
      padding: 10px 15px;
      left: 20%;
      top: 207px
      }
    }

    .Linkedin-bck{
    position: absolute;
    top: 396%;
    left: 44%;
    font-size: 50px;
    }
  }

}
